*{ 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
} 

/* body{ 
   background:url(https://img.freepik.com/free-vector/dark-gradient-background-with-copy-space_53876-99548.jpg?t=st=1737287219~exp=1737290819~hmac=03bb025e0a0aa7edf36c4229d8ad3f94115446b0de63eafdb6ff86b66352e408&w=996);
   background-repeat: no-repeat; 
   background-size: cover; 
   background-position: center; 
   display: inline; 
    flex-direction: row; 
 
}   */

#root{ 
    text-align: center;
} 



.div_items {
  background: linear-gradient(145deg, #2a2a2e, #3a3a40);
  display: inline-block;
  color: #e0e0e0; 
  text-align: left;
  margin: 30px;
  padding: 20px;
  border: 1px solid #444; 
  border-radius: 8px; 
  box-shadow: 3px 3px 8px rgba(20, 20, 20, 0.5);
  font-family: "Open Sans", serif;
  font-weight: 500;
  font-style: normal;
  cursor: pointer;
  transition: all 0.3s ease-in-out; 
}

.div_items:hover {
  background: linear-gradient(145deg, #323238, #424249); /* Slightly lighter on hover */
  box-shadow: 5px 5px 12px rgba(15, 15, 15, 0.7);
}

.meal-img{ 
    border: none; 
    border-radius: 20px; 
}


.search-title{ 
    /* text-align: center; 
    margin: 30px; 
    font-size: 3em; 
    font-family: "Outfit", serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: #f1f1f1; */

}

.search-input{ 
/* width: 250px; 
padding-top: 15px; 
padding-bottom: 15px; 
border: none; 
border-radius: 25px;
margin-bottom: 50px;
padding-left: 10px; 
font-family: "Public Sans", serif;
font-optical-sizing: auto;
font-weight: 400;
font-style: normal; */
}

.search-input::placeholder {
font-size: 15px;
  color: #9CA3AF; /* Tailwind's gray-500 color */
  font-style: italic;
  padding-left: 10px;
}

/* .search-input:focus{ 
  outline: 20px;
} */
.search-button{ 

font-size: 1.3em; 
margin-left: 20px; 
padding: 6px; 
border: 1px solid white;
border-radius: 30px;  
color: white; 
margin-bottom: 50px;
cursor: pointer;
} 


 
.meals-bg{ 
  
  background: linear-gradient(135deg, #0a0a0a, #111111, #1a1a1a, #000000);
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

/* 
    .meal-details-container {
        text-align: center;
        padding: 30px;
        font-family: 'Arial', sans-serif;
      
      }
      
      .meal-details {
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        
      }
      
      .meal-details img {
        border-radius: 10px;
        margin-bottom: 20px;
        
      }
      
      .meal-details h2 {
        font-size: 2em;
        color: #333;
      }
      
      .meal-details h3,
      .meal-details h4 {
        color: #555;
      }
      
      .meal-details p {
        font-size: 1.2em;
        color: #333;
        line-height: 1.6;
        margin-top: 10px;
      }
       */



.home-page-background{ 
  
  background: linear-gradient(135deg, #0a0a0a, #111111, #1a1a1a, #000000);
  min-height: 100vh;
  margin: 0;
  padding: 0;
   /* Ensures text is readable */

}